@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700');

body {
  background: black;
  color: #1D1D1B;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}

.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}

.person {
  display: inline-block;
  margin-right: 20px;
}

.person name, .person role, .person email {
  display: block;
  color: #666666;
}

.person name {
  font-weight: 300;
  padding-bottom: 10px;
  color: white;
}

.person email a {
  text-decoration: none;
  color: #666666;
}