<div class="contact contact-<%= page_name %>" id="Contact">
  <div class="copy">
    <p class="h2">Et si nous travaillions ensemble ?</p>
    <p class="body">Avez-vous un projet technologique innovant, besoin de conseils, un logiciel ou une app à créer, une équipe à coacher? Vous aimez notre esprit? Nous pouvons vous aider!</p>
    <input class="email" type="text" name="emailaddress" placeholder="Mon adresse mail..">
    <textarea class="message" type="text" name="message" placeholder="Mon message..."></textarea>
    <button type="button" name="button" class="btn btn-main" href="#">Envoyer</button>
  </div>
  <div class="background">
    <img src="/<%= page_name %>/contact_<%= page_name %>.svg" alt="Contact">
  </div>
</div>
