<div class="section mainnav-tablet">
  <div class="logo">
    <a href="/"><img class="logo"src="/<%= page_name %>/logo_<%= page_name %>.svg" alt="Enspirit"></a>
  </div>
  <a href="#"><div class="menu">
    <img class="burger"src="/menu.svg" alt="Menu">
  </div></a>
</div>
