<div class="quick-menu quick-menu-<%= page_name %>">
  <div class="illustrations-menu">
    <ul>
      <li>
        <a href="/vision">
          <div>
            <img class="fluidimage"src="/mini_vision.svg" alt="Vision">
            <p>Vision</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/references">
          <div>
            <img class="fluidimage"src="/mini_references.svg" alt="Références">
            <p>Références</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/partenaires">
          <div>
            <img class="fluidimage"src="/mini_partenaires.svg" alt="Partenaires">
            <p>Partenaires</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/logiciels">
          <div>
            <img class="fluidimage"src="/mini_logiciels.svg" alt="Logiciels">
            <p>Logiciels</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/mentors">
          <div>
            <img class="fluidimage"src="/mini_mentors.svg" alt="Mentors">
            <p>Mentors</p>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <div>
            <img class="fluidimage"src="/<%= page_name %>/mini_enspirit_<%= page_name %>.svg" alt="Enspirit">
            <p>Enspirit</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
