// greys
$grey-50: #9B9B9B;
$grey-100: #2b2b2b;

// pages themes

$c-home: #3635C9;
$gradient-home: linear-gradient(to bottom, #ffffff, #ececff 69%, #eaeaff);
$gradient-home-body:linear-gradient(to right, #fdfdff, #e3e2ff);

$c-vision: #10CFC9;
$gradient-vision: linear-gradient(to bottom, #f8f8ff, #eff9fd);
$gradient-vision-body:linear-gradient(to right, #fafdff, #effaff);

$c-references: #F4436C;
$gradient-references: linear-gradient(to left, #fffcfc, #f5effd);
$gradient-references-body:linear-gradient(to right, #ffffff, #f5effd);

$c-partenaires: #40C8A3;
$gradient-partenaires: linear-gradient(to bottom, #f8f8ff, #effcfd);
$gradient-partenaires-body:linear-gradient(to right, #fdfdfd, #effcfd);

$c-logiciels: #FFC506;
$gradient-logiciels: linear-gradient(to bottom, #f8f8ff, #fdf9ef);
$gradient-logiciels-body:linear-gradient(to right, #fffffc, #fdf9ef);

$c-mentors: #FF5B34;
$gradient-mentors: linear-gradient(to bottom, #f8f8ff, #fdefef);
$gradient-mentors-body:linear-gradient(to right, #fffefe, #fdefef);

$c-services: #00A7D8;
$gradient-services: linear-gradient(to right, #e8f7ff, #fffefe);
$gradient-services-body:linear-gradient(to right, #fffefe, #e8f7ff);
