@import url("//hello.myfonts.net/count/3890bd");

@font-face {
  font-family: 'ProximaNovaA-Black';
  src: url('/webfonts/3890BD_0_0.eot');
  src:
  url('/webfonts/3890BD_0_0.eot?#iefix') format('embedded-opentype'),
  url('/webfonts/3890BD_0_0.woff2') format('woff2'),
  url('/webfonts/3890BD_0_0.woff') format('woff'),
  url('/webfonts/3890BD_0_0.ttf') format('truetype');}

@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('/webfonts/3890BD_1_0.eot');
  src: url('/webfonts/3890BD_1_0.eot?#iefix') format('embedded-opentype'),
  url('/webfonts/3890BD_1_0.woff2') format('woff2'),
  url('/webfonts/3890BD_1_0.woff') format('woff'),
  url('/webfonts/3890BD_1_0.ttf') format('truetype');}
