@import "brand";
@import "fonts";
@import "forms";
@import "layout";
@import "text";

/* body */
.body-homepage {
  background-image: $gradient-home-body;
}
/* header */
.header-homepage {
  background-image: $gradient-home;
  .mainnav-desktop {
    .nav {
      a.active {
        color: $c-home;
      }
    }
  }
  .illustrations-container {
    .p1 {
      width: 430px;
      height: 430px;
      right: 15%;
      bottom: 40px;
    }
    .p2 {
      width: 180px;
      height: 180px;
      right: 10%;
      bottom: 480px;
    }
    .s-planet {
      width: 140px;
      height: 140px;
      left: 5%;
      bottom: 220px;
    }
    .s-l-planet {
      width: 110px;
      height: 110px;
      right: 35%;
      bottom: 410px;
    }
    .b-planet {
      width: 375px;
      height: 445px;
      right: 0px;
      bottom: 0px;
    }
  }
}

/* quick menu */
.quick-menu-homepage {
  .cta {
    .btn-main {
      background-color: $c-home;
    }
  }
}

/* contact */
.contact-homepage {
  .copy {
    .formulaire {
      .email, .message {
        &:focus {
          border-bottom: 2px solid $c-home;
        }
      }
      .btn-main {
        background-color: $c-home;
      }
    }
  }
}

@media only screen and (max-width: 1120px) {

  /* header */
  .header-homepage {
    .illustrations-container {
      .p1 {
        width: 320px;
        height: 320px;
        right: 10%;
        top: 490px;
      }
      .p2 {
        left: 28%;
        top: 470px;
      }
      .s-planet {
        width: 140px;
        height: 140px;
        left: 8%;
        top: 620px;
      }
      .s-l-planet {
        display: none;
      }
      .b-planet {
        width: 290px;
        height: 345px;
      }
    }
  }

}

@media only screen and (max-width: 767px) {

  /* header */
  .header-homepage {
    .illustrations-container {
      .p1 {
        width: 230px;
        height: 230px;
        right: 25%;
        top: 450px;
      }
      .p2 {
        left: 68%;
        top: 385px;
        width: 100px;
        height: 100px;
      }
      .s-planet {
        width: 90px;
        height: 90px;
        left: 10%;
        top: 430px;
      }
      .s-l-planet {
        display: none;
      }
      .b-planet {
        width: 170px;
        height: 135px;
      }
    }
  }

}
