@import "brand";
@import "fonts";
@import "forms";
@import "layout";
@import "text";

/* body */
.body-logiciels {
  background-image: $gradient-logiciels-body;
}
/* header */
.header-logiciels {
  background-image: $gradient-logiciels;
  .mainnav-desktop {
    .nav {
      a.active {
        color: $c-logiciels;
      }
    }
  }
}

/* quick menu */
.quick-menu-logiciels {
  .cta {
    .btn-main {
      background-color: $c-logiciels;
    }
  }
}

/* contact */
.contact-logiciels {
  .copy {
    .formulaire {
      .email, .message {
        &:focus {
          border-bottom: 2px solid $c-logiciels;
        }
      }
      .btn-main {
        background-color: $c-logiciels;
      }
    }
  }
}
