@import "brand";
@import "fonts";
@import "forms";
@import "layout";
@import "text";

/* body */
.body-mentors {
  background-image: $gradient-mentors-body;
}
/* header */
.header-mentors {
  background-image: url(../mentors/background_desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  .mainnav-desktop {
    .nav {
      a.active {
        color: $c-mentors;
      }
    }
  }
}

/* quick menu */
.quick-menu-mentors {
  .cta {
    .btn-main {
      background-color: $c-mentors;
    }
  }
}

/* contact */
.contact-mentors {
  .copy {
    .formulaire {
      .email, .message {
        &:focus {
          border-bottom: 2px solid $c-mentors;
        }
      }
      .btn-main {
        background-color: $c-mentors;
      }
    }
  }
}
